<h1>Editing ruby_sync_association</h1>

<% form_for(@ruby_sync_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :synchronizable_id %><br />
    <%= f.text_field :synchronizable_id %>
  </p>
  <p>
    <%= f.label :synchronizable_type %><br />
    <%= f.text_field :synchronizable_type %>
  </p>
  <p>
    <%= f.label :synchronizable %><br />
    <%= f.text_field :synchronizable %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ruby_sync_association %> |
<%= link_to 'Back', ruby_sync_associations_path %>