<h1>Editing interest</h1>

<% form_for(@interest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :hobby_id %><br />
    <%= f.text_field :hobby_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @interest %> |
<%= link_to 'Back', interests_path %>